<div class="push" ></div>
   <footer>
    <div id="content">
        <div class="centered">
        	<div class="site-info">

        	</div>

        	<div class="footer-about">
        		<p >StevenPemberton.Net</p>
        		<a class="github-logo" href="https://github.com/sjpemberton"><img src="/content/images/GitHub-Mark-32px.png" /></a>
        		<a class="twitter-link" href="https://twitter.com/stid00"><img src="/content/images/Twitter_logo_blue.png" /></a>
        	</div>
        	
        </div>
    </div>
   </footer>