<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{site.url}}/content/css/main.css">
    <link type="text/css" rel="stylesheet" href="{{site.url}}/content/css/style.css" />
    <script src="{{site.url}}/content/tips.js" type="text/javascript"></script>
</head>
<body id="{{page.id}}">
    {% include header.html %}
    <div id="page-content" >
        {{ content }}
    </div> 
    {% include footer.html %}
    
</body>
</html>

{% include analytics.html %}
