@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Open+Sans:400,600,700);

* {
  margin: 0;
  padding: 0;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Open Sans', serif;
}

hr{
    border-style: solid;
    border-color: #1e1e1e;
}

h1 {
    font-size: 2.5em;
    color:#111;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

pre {
    display:block;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#page-content, #content{    
    width: 100%;
}

#content{ 
    height:100%;
}

#page-content{
    padding-top:30px;
    margin-top:48px;
}
#home #page-content{margin-top:0;}
#home #page-content.sticky{
    margin-top:48px;
}

.push{
    height: 142px;
}

footer {
  /* .push must be the same height as footer */
    position: absolute;
    height: 142px;
    width: 100%;
    bottom: 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#sidebar-left{

}

#sidebar-right{

}

@media (max-width: 1024px) {
	.centered{
	    margin:0 auto;
	    width:90%;
	    height:100%;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.centered{
	    margin:0 auto;
	    width:70%;
	    height:100%;
	}
}

@media (min-width: 1440px) {
	.centered{
	    margin:0 auto;
	    width:50%;
	    height:100%;
	}
}

footer .centered {
    height: 100px; 
    border-top: 2px solid #CCC;
    font-size: .8em;
}

#header {
    width:100%;
    background:#1e1e1e;
    height: 48px;
    top:0;
    background:#1e1e1e;
    margin: 0 0 0 0;
	z-index:1100;
}

#header.sticky{
    position:fixed;
}
#home .site-title a{
    opacity:0;
} 
#home #header.sticky .site-title a{opacity:1;}


.site-title{
    display:block;
    height: 48px;
    line-height: 48px;
}

.site-title a{
    color:#f5f5f5;
    transition: all 0.4s ease;
}
.site-title a:hover{
    color:orange;
}
.centered.main{ height:3000px}
#page-content .centered.main{
	margin-top: 30px;
}


#header .centered{ 
    position:relative;
    }

#title-container{
    color: #f5f5f5;
    position:absolute;
    height:100px;
    line-height: 100px;
    transition: all 0.4s ease;
}


#header nav {
    position:absolute;
    height:48px;
    line-height: 48px;
    right:0;
    bottom:0;
    transition: all 0.4s ease;
}

#header nav ul{
    float:right;
}

#header nav li {
    display: inline-block;
    font-size: 1.5em;
    color:#f5f5f5;
    text-shadow:1px 1px #000;
    margin:0 20px 0 0;
}

#header nav li a {
    text-decoration: none;
    color: #f5f5f5;
    text-align: center;
    display: block;
    width:80px;
	transition: all 0.4s ease;
}

#header nav li  a:hover {
    text-decoration: underline;
    color:orange;
}

#home #homenav,
#about #aboutnav,
#blog #blognav,
#contact #contactnav{
    font-weight: bold;
}

.white-header{
    color:#f5f5f5;
    text-shadow:1px 1px #000;
}

.recent-posts{
    margin: 20px 0;
}
.posts-list{
    margin: 20px;
}

.more-link a{
    color:#111;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s ease;
}

.more-link a:hover{
    color:#028fcc;
}


/* Page specific */

.home-intro{
    background: #1e1e1e;
    height: 200px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.home-intro .centered{
	background-image: url("/content/images/BlogCodeSnip.png");
    background-repeat: no-repeat;
    /* background-position: 100%; */
    background-size: 460px 200px;
    text-align: center;
}

.intro{
	color: orange;
;}

.comments-holder{
    margin:40px 0;
}

.post-excerpt{
    font-size: 0.6em;
}

.post-title{
    margin:20px 0;
    font-size: 2em;
}

.post-meta{
    text-align: right;
}

.github-logo img{
    height:32px;
    border-radius: 50%;
    transition: background-color 0.4s ease;
}

.github-logo img, .twitter-link img{
    margin:10px;
}
.github-logo img:hover{
    border-radius: 50%;
    background-color: orange;
}

.twitter-link img{
     height:32px;
}

.tag-list{
    display:inline-block;
    margin:20px;
}

.footer-about{
    margin:20px;
    text-align: center;
    float: right;
}

.sidebar {
position: fixed;
right: 30px;
top: 30%;
border:1px solid #ddd;
width: 200px;
}

.archive-bar a{
    color:#111;
    text-decoration: none;

}

.archive-bar a:hover{
    color:#028fcc;
}

.archive-links{
    margin:20px auto;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #CCC;
}

.archive-links a{
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    transition: all 0.4s ease;

}

.archive-links a:hover{
    color:#028fcc;
}


.blog-container{

}

.blog-container ul{
    margin:20px 20px 20px 40px;
}

.blog-container ul a{
    color: #1e1e1e;
    text-decoration: none;
}

.blog-container ul a:hover{
     color:#028fcc;
}
