@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Open+Sans:400,600,700);

* {
  margin: 0;
  padding: 0;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Open Sans', serif;
}

hr{
    border-style: solid;
    border-color: #1e1e1e;
}

h1 {
    font-size: 2.5em;
    color:#111;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

pre {
    display:block;
}

ul.posts { 
    margin: 2em auto 3em; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#page-content, #content{    
    width: 100%;
}

#content{ height:100%; }

#page-content{
    padding-top:30px;
    margin-top:48px;
}

#home #page-content{ margin-top:0; }
#home #page-content.sticky{ margin-top:48px; }
.push{ height: 142px; }

.centered{
    margin:0 auto;
    width:90%;
    height:100%;
}

#header {
    width:100%;
    background:#1e1e1e;
    top:0;
    margin: 0;
    z-index:1100;
}

#header.sticky{ position:fixed; }

#home .site-title {   
    visibility:hidden;
    height:0;
    opacity:0;
    transition: opacity 0.4s ease;
} 
#home #header.sticky .site-title { 
    opacity:1; 
    height:auto;
    visibility:visible;
}

.site-title{
    text-align: center;
    line-height: 2em;
}
.site-title a{ color:#f5f5f5; }
.site-title a:hover{ color:orange; }

#page-content .centered.main{ margin-top: 30px; }

#header .centered{ position:relative; }

#title-container{
    color: #f5f5f5;
    position:absolute;
    height:100px;
    line-height: 100px;
    transition: all 0.4s ease;
}

#header nav {
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
}

#header nav li {
    display: inline-block;
    font-size: 1.5em;
    color:#f5f5f5;
    text-shadow:1px 1px #000;
    margin:0 20px 0 0;
}

#header nav li a {
    text-decoration: none;
    color: #f5f5f5;
    text-align: center;
    display: block;
    line-height:2em;
    transition: all 0.4s ease;
}

#header nav li a:hover {
    text-decoration: underline;
    color:orange;
}

#home-header{ background: #1e1e1e; }

#home-header .centered{
    background-image: url("/content/images/BlogCodeSnip.png");
    background-repeat: no-repeat;
    background-size: 460px 200px;
    text-align: center;
    padding: 2.8em 0;
}

@media all and (min-width: 36em) {
    body #header nav{
        width:auto;
        position: absolute;
        right:0;
        bottom: 0;
        display: inline-block;
    }

    body .site-title{
        display:inline-block;
    }
}

@media all and (min-width: 60em) {
    body .centered{
        margin:0 auto;
        width:60%;
        height:100%;
    }
}


#home #homenav,
#about #aboutnav,
#blog #blognav,
#contact #contactnav{
    font-weight: bold;
}

.white-header{
    color:#f5f5f5;
    text-shadow:1px 1px #000;
}

.recent-posts{ margin: 20px 0;}
.posts-list{ margin: 20px; }

.more-link a{
    color:#111;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s ease;
}
.more-link a:hover{ color:#028fcc; }


.intro{ color: orange; }

.comments-holder{ margin:40px 0; }

.post-excerpt{ font-size: 0.7em; }

.post-title{
    margin:20px 0;
    font-size: 2em;
}

.post-meta{ text-align: right; }

.github-logo img{
    height:32px;
    border-radius: 50%;
    transition: background-color 0.4s ease;
}


.twitter-link img{ height:32px; }
.github-logo {color:#111;}
.github-logo img, .twitter-link img{ margin:10px; }
.github-logo:hover img{
    border-radius: 50%;
    background-color: orange;
}

.github-logo.contact, .twitter-link.contact{
    display: block;
    text-align: center;
    text-decoration: none;
}
.github-logo.contact img, .twitter-link.contact img{
    margin:0;
    position: relative;
    top:6px;
}
.github-logo.contact span, .twitter-link.contact span{
    font-size: 1.6em;
    color:#111;
    transition: color 0.4s ease;
    margin-left: .6em;
}
.github-logo:hover span, .twitter-link:hover span{color:orange;}

.email-link{text-align: center;}
.email-link a{
    transition: color 0.4s ease;
    color:#111;
}
.email-link:hover a{color:orange;}

.tag-list{
    display:inline-block;
    margin:20px;
}

footer {
  /* .push must be the same height as footer */
    position: absolute;
    height: 142px;
    width: 100%;
    bottom: 0;
}

footer .centered {
    height: 100px; 
    border-top: 2px solid #CCC;
    font-size: .8em;
}

.footer-about{
    margin:20px;
    text-align: center;
    float: right;
}

.footer-about a{ color:#333; }
.footer-about a:hover{color:#028fcc;}


.archive-links{
    margin:20px auto;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #CCC;
}

.archive-links a{
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    transition: all 0.4s ease;

}

.archive-links a:hover{ color:#028fcc; }

.blog-container ul{ margin:20px 20px 20px 40px; }

.blog-container ul a{
    color: #1e1e1e;
    text-decoration: none;
}

.blog-container ul a:hover{ color:#028fcc; }
